*{
    margin: 0%;
    padding: 0%;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-45deg, #0e186d , #b1dce4);

}

.titles{
    position: center;
    font-family: Arial;
    font-size: 400%;
    
}

.slider{
    width: 800px;
    height: 500px;
    overflow: hidden;
    position: absolute;
    border-radius: 10px;
    
}

.slides{
    display: flex;
    width: 1000%;
    height: 100%;
}

.slide{
  width: 10%;
  transition: 0.5s;
}

.slide img{
    width: 100%;
    height: 100%;
}

#radio1:checked ~ .first{
    margin-left: 0%;
}

#radio2:checked ~ .first{
    margin-left: -10%;
}

#radio3:checked ~ .first{
    margin-left: -20%;
}

#radio4:checked ~ .first{
    margin-left: -30%;
}

#radio5:checked ~ .first{
    margin-left: -40%;
}

#radio6:checked ~ .first{
    margin-left: -50%;
}

#radio7:checked ~ .first{
    margin-left: -60%;
}

#radio8:checked ~ .first{
    margin-left: -70%;
}

#radio9:checked ~ .first{
    margin-left: -80%;
}

#radio10:checked ~ .first{
    margin-left: -90%;
}


.navigation-bar{
    position: absolute;
    bottom: 20px;

     display: flex;
    left: 50%;
    transform: translate(-50%);
}

.manual-btn{
    border: 2px solid #000;

    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #000;
    transition: 0.4s;
}

.radio{
    display: none;
}

.form{
   
    position: relative;
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
    background: rgb(241, 233, 228);
    border-radius: 10px;
    padding: 60px;
    font-family: initial;
    width: min-content;

    color: #2b344b;
}

.sub{
    font-size: 1.5em;
    font-family: initial;
}

.placeholder{
    min-width: 280px;
    border-radius: 22px;
    border: 2px #6f7e8a solid;
    padding: 5px;
    margin: 0px 0px 12px -5px;
}

.button{
    padding: 14px;
    border: 2px solid #8b80f9;
    box-shadow: #8b80f9 0px 0px 12px 1px inset,
    #8b80f9 0px 0px 12px 1px;  
    border-radius: 15px;
}