body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg, #e09595 , #dc8ff1);
}

.form{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(238, 231, 231);
    border-radius: 10px;
    padding: 60px;
    font-family: initial;
    width: min-content;
    align-items: center;
    color: #010111;
    padding: 14px;
    border: 9px solid #98a9f5;
    box-shadow: #9393e2 0px 0px 12px 1px inset,
    #100f1a 0px 0px 12px 1px;  
}

.sub{
    font-size: 1.5em;
    font-family:inherit;
}


.title{
 color: #30043b;
 font-size: 1.6em;
}

.input{
  background: transparent;
    border: none;
    outline: none;
    bottom: 0;
}

.button{
   border: 5px solid #2c043f;
   border-radius: 5px;
   padding: 2rem, 3rem;
   display: inline-block;
   font-family: unset;
   user-select: none;
   color: #010307;
   box-shadow: #8194b8 4px 4px 0px;
   transition: all .195s ease-in-out;
   cursor: pointer;
}

.button:hover{
    transform: translateX(6px) translateY(6px);
    box-shadow: #0c0c0c 8px 10px 0px;
}