body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg, #0d101b , #9781ac);
}

.form{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(241, 233, 228);
    border-radius: 30px;
    padding: 60px;
    font-family: initial;
    width: min-content;
    align-items: center;
    color: #2b344b;
}

.title{
    font-size: 1.9em;
    font-family: initial;
    color: #070242;
}

.text{
    font-size: 1.5em;
    font-family: initial;
}

.sub{
    font-size: 1.5em;
    font-family: initial;
}

.input{
    min-width: 280px;
    border-radius: 22px;
    border: 5px #252774;
    border-style: outset;
    padding: 5px;
    margin: 0px 0px 12px -5px;
}

.button{
    position: relative;
    display:inline-block;
    margin: 15px;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #ffffff;
    background: #8b80f9;
    border: double;
    border-radius: 10px;
    cursor: pointer;
    transition: ease-out 0.5s;
}